@model IEnumerable<GTT.Models.BusView>
@{
    ViewBag.Title = "Buses";
}

<main style = "margin-left: 2%;">
<h1 style="text-align:center">Наш автопарк</h1>
@foreach ( var b in Model )
{
    <div class="tour" style="background-color:rgb(52, 72, 121); border: 3px solid white;border-radius:20px">
        <img src= @b.PictureBus.First() style="width:60%; height:200px; float:left ;border-radius: 15px;" />
        <div style="float:left; width:35% ;padding:1%">
            <h2>@b.Name </h2>
            <p>@b.Seats </p>
            
        </div>
        <div style="float:left;padding:1%">
            <ul>
                @foreach ( var s in @b.BusEquipment )
                {
                    <li> @s </li>
                }
            </ul>
        </div>
    </div>
 }
</main>
        <link href="~/Content/style.css" rel="stylesheet" />
