
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<style>
    #map {
        height: 100%;
    }
</style>
<div id="map"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD44xwYIl9AfC2lCa-YLv6IqiTlc7e5wu8&callback=initMap">
</script>
<script src="~/Scripts/map.js"></script>


